@@include('./templates/header.html')
<body>
<section class="hide">
    @@include('./templates/svg.html')
</section>
<main>
    <div class="background">
        <div id="trailer" class="is_overlay">
            <video id="video" width="100%" height="auto" autoplay="autoplay" loop="loop" preload="auto">
                <source src="video/bg.mp4">
            </video>
        </div>
    </div>
    <section class="container">
        <div class="row">
            <div class="large-7 column content">
                <div class="row">
                    <div class="small-12 column align-self-top header">
                        <a href="#" class="logo">
                            <svg><use xlink:href="#logo"></use></svg>
                        </a>
                        <div class="description">
                            Управляющая компания в контакте с жителями
                        </div>
                    </div>
                    <div class="small-12 column align-self-middle handler">
                        <div class="big">Наша задача -</div>
                        комфортное проживание 1446 семей
                    </div>
                    <div class="small-12 column align-self-bottom footer">
                        Мы обслуживаем:
                        <div class="logo">
                            <img src="img/logo-olimpia.png">
                        </div>
                        <div class="logo">
                            <img src="img/logo-moskva.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="large-5 column sidebar">
                <ul class="tabs" data-tabs id="example-tabs">
                    <li class="tabs-title is-active notification" data-counts="7">
                        <a href="#news" aria-selected="true">
                            <svg><use xlink:href="#icon_bell"></use></svg>
                            <span>Новости</span>
                        </a>
                    </li>
                    <li class="tabs-title">
                        <a href="#directory">
                            <svg><use xlink:href="#icon_tab"></use></svg>
                            <span>Справочник абонента</span>
                        </a>
                    </li>
                    <li class="tabs-title disable">
                        <a href="#support">
                            <svg><use xlink:href="#icon_support"></use></svg>
                            <span>Заявка Онлайн</span>
                        </a>
                    </li>
                    <li class="tabs-title-out_link">
                        <a href="https://online.sberbank.ru/CSAFront/index.do">
                            <img src="img/so.png">
                            <span>Сбербанк онлайн</span>
                        </a>
                    </li>
                </ul>
                <div class="tabs-content js-tabs-wrapper" data-tabs-content="example-tabs">

                    <div class="tabs-panel is-active scroll-pane js-tabs" id="news">
                        <div class="card type-news">
                            <div class="marker red">Важно</div>
                            <div class="box">
                                <div class="date">22 Июня 2017</div>
                                <div class="title">
                                    Отключение горячей воды
                                </div>
                                <div class="text">
                                    С 20.06.17 по 05.07.17 в связи с опрессовочными работами тепловых сетей будет отключение ГВС. Заявления на замену радиаторов приниматься не будут с 20.06.17 по 05.07.17
                                    С 20.06.17 по 05.07.17 в связи с опрессовочными работами тепловых сетей будет отключение ГВС. Заявления на замену радиаторов приниматься не будут с 20.06.17 по 05.07.17
                                </div>
                            </div>
                        </div>
                        <div class="card type-news">
                            <div class="box">
                                <div class="date">22 Июня 2017</div>
                                <div class="title">
                                    Отключение горячей воды
                                    Отключение горячей воды
                                </div>
                                <div class="text">
                                    С 20.06.17 по 05.07.17 в связи с опрессовочными работами тепловых сетей будет отключение ГВС. Заявления на замену радиаторов приниматься не будут с 20.06.17 по 05.07.17
                                    С 20.06.17 по 05.07.17 в связи с опрессовочными работами тепловых сетей будет отключение ГВС. Заявления на замену радиаторов приниматься не будут с 20.06.17 по 05.07.17
                                    С 20.06.17 по 05.07.17 в связи с опрессовочными работами тепловых сетей будет отключение ГВС. Заявления на замену радиаторов приниматься не будут с 20.06.17 по 05.07.17
                                    С 20.06.17 по 05.07.17 в связи с опрессовочными работами тепловых сетей будет отключение ГВС. Заявления на замену радиаторов приниматься не будут с 20.06.17 по 05.07.17
                                </div>
                            </div>
                        </div>
                         <div class="card type-news">
                            <div class="box">
                                <div class="date">22 Июня 2017</div>
                                <div class="title">
                                    Отключение горячей воды
                                    Отключение горячей воды
                                </div>
                                <div class="text">
                                    С 20.06.17 по 05.07.17 в связи с опрессовочными работами тепловых сетей будет отключение ГВС. Заявления на замену радиаторов приниматься не будут с 20.06.17 по 05.07.17
                                    С 20.06.17 по 05.07.17 в связи с опрессовочными работами тепловых сетей будет отключение ГВС. Заявления на замену радиаторов приниматься не будут с 20.06.17 по 05.07.17
                                    С 20.06.17 по 05.07.17 в связи с опрессовочными работами тепловых сетей будет отключение ГВС. Заявления на замену радиаторов приниматься не будут с 20.06.17 по 05.07.17
                                    С 20.06.17 по 05.07.17 в связи с опрессовочными работами тепловых сетей будет отключение ГВС. Заявления на замену радиаторов приниматься не будут с 20.06.17 по 05.07.17
                                </div>
                            </div>
                        </div>
                         <div class="card type-news">
                            <div class="box">
                                <div class="date">22 Июня 2017</div>
                                <div class="title">
                                    Отключение горячей воды
                                    Отключение горячей воды
                                </div>
                                <div class="text">
                                    С 20.06.17 по 05.07.17 в связи с опрессовочными работами тепловых сетей будет отключение ГВС. Заявления на замену радиаторов приниматься не будут с 20.06.17 по 05.07.17
                                    С 20.06.17 по 05.07.17 в связи с опрессовочными работами тепловых сетей будет отключение ГВС. Заявления на замену радиаторов приниматься не будут с 20.06.17 по 05.07.17
                                    С 20.06.17 по 05.07.17 в связи с опрессовочными работами тепловых сетей будет отключение ГВС. Заявления на замену радиаторов приниматься не будут с 20.06.17 по 05.07.17
                                    С 20.06.17 по 05.07.17 в связи с опрессовочными работами тепловых сетей будет отключение ГВС. Заявления на замену радиаторов приниматься не будут с 20.06.17 по 05.07.17
                                </div>
                            </div>
                        </div>
                         <div class="card type-news">
                            <div class="box">
                                <div class="date">22 Июня 2017</div>
                                <div class="title">
                                    Отключение горячей воды
                                    Отключение горячей воды
                                </div>
                                <div class="text">
                                    С 20.06.17 по 05.07.17 в связи с опрессовочными работами тепловых сетей будет отключение ГВС. Заявления на замену радиаторов приниматься не будут с 20.06.17 по 05.07.17
                                    С 20.06.17 по 05.07.17 в связи с опрессовочными работами тепловых сетей будет отключение ГВС. Заявления на замену радиаторов приниматься не будут с 20.06.17 по 05.07.17
                                    С 20.06.17 по 05.07.17 в связи с опрессовочными работами тепловых сетей будет отключение ГВС. Заявления на замену радиаторов приниматься не будут с 20.06.17 по 05.07.17
                                    С 20.06.17 по 05.07.17 в связи с опрессовочными работами тепловых сетей будет отключение ГВС. Заявления на замену радиаторов приниматься не будут с 20.06.17 по 05.07.17
                                </div>
                            </div>
                        </div>
                         <div class="card type-news">
                            <div class="box">
                                <div class="date">22 Июня 2017</div>
                                <div class="title">
                                    Отключение горячей воды
                                    Отключение горячей воды
                                </div>
                                <div class="text">
                                    С 20.06.17 по 05.07.17 в связи с опрессовочными работами тепловых сетей будет отключение ГВС. Заявления на замену радиаторов приниматься не будут с 20.06.17 по 05.07.17
                                    С 20.06.17 по 05.07.17 в связи с опрессовочными работами тепловых сетей будет отключение ГВС. Заявления на замену радиаторов приниматься не будут с 20.06.17 по 05.07.17
                                    С 20.06.17 по 05.07.17 в связи с опрессовочными работами тепловых сетей будет отключение ГВС. Заявления на замену радиаторов приниматься не будут с 20.06.17 по 05.07.17
                                    С 20.06.17 по 05.07.17 в связи с опрессовочными работами тепловых сетей будет отключение ГВС. Заявления на замену радиаторов приниматься не будут с 20.06.17 по 05.07.17
                                </div>
                            </div>
                        </div>
                         <div class="card type-news">
                            <div class="box">
                                <div class="date">22 Июня 2017</div>
                                <div class="title">
                                    Отключение горячей воды
                                    Отключение горячей воды
                                </div>
                                <div class="text">
                                    С 20.06.17 по 05.07.17 в связи с опрессовочными работами тепловых сетей будет отключение ГВС. Заявления на замену радиаторов приниматься не будут с 20.06.17 по 05.07.17
                                    С 20.06.17 по 05.07.17 в связи с опрессовочными работами тепловых сетей будет отключение ГВС. Заявления на замену радиаторов приниматься не будут с 20.06.17 по 05.07.17
                                    С 20.06.17 по 05.07.17 в связи с опрессовочными работами тепловых сетей будет отключение ГВС. Заявления на замену радиаторов приниматься не будут с 20.06.17 по 05.07.17
                                    С 20.06.17 по 05.07.17 в связи с опрессовочными работами тепловых сетей будет отключение ГВС. Заявления на замену радиаторов приниматься не будут с 20.06.17 по 05.07.17
                                </div>
                            </div>
                        </div>
                        <div class="card type-news">
                            <div class="box">
                                <div class="date">22 Июня 2017</div>
                                <div class="title">
                                    Отключение горячей воды
                                </div>
                                <div class="text">
                                    С 20.06.17 по 05.07.17 в связи с опрессовочными работами тепловых сетей будет отключение ГВС. Заявления на замену радиаторов приниматься не будут с 20.06.17 по 05.07.17
                                    С 20.06.17 по 05.07.17 в связи с опрессовочными работами тепловых сетей будет отключение ГВС. Заявления на замену радиаторов приниматься не будут с 20.06.17 по 05.07.17
                                </div>
                            </div>
                        </div>
                        <div class="card type-news">
                            <div class="box">
                                <div class="date">22 Июня 2017</div>
                                <div class="title">
                                    Отключение горячей воды
                                </div>
                                <div class="text">
                                    С 20.06.17 по 05.07.17 в связи с опрессовочными работами тепловых сетей будет отключение ГВС. Заявления на замену радиаторов приниматься не будут с 20.06.17 по 05.07.17
                                    С 20.06.17 по 05.07.17 в связи с опрессовочными работами тепловых сетей будет отключение ГВС. Заявления на замену радиаторов приниматься не будут с 20.06.17 по 05.07.17
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs-panel" id="directory">
                        <div class="card type-contact">
                            <div class="box">
                                <div class="description">По всем вопросам</div>
                                <div class="title">
                                    Управляющая компания
                                </div>
                                <div class="location">
                                    <div>625000, Тюмень, Комбинатская 54</div>
                                    <span class="to_map">Показать на карте</span>
                                </div>
                                <div class="contacts">
                                    <div class="contact">
                                        <a href="tel:+7(3452)000000">+7(3452) 000 000</a>
                                        <div class="description">Приемная</div>
                                    </div>
                                    <div class="contact">
                                        <a href="mailto:info@vershina-komforta.ru">info@vershina-komforta.ru</a>
                                        <div class="description">По общим вопросам</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card type-contact">
                            <div class="box">
                                <div class="description">По всем вопросам</div>
                                <div class="title">
                                    Управляющая компания
                                </div>
                                <div class="contacts">
                                    <div class="contact">
                                        <a href="tel:+7(3452)000000">+7(3452) 000 000</a>
                                        <div class="description">Приемная</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card type-contact">
                            <div class="box">
                                <div class="description">По всем вопросам</div>
                                <div class="title">
                                    Управляющая компания
                                </div>
                                <div class="contacts">
                                    <div class="contact">
                                        <a href="tel:+7(3452)000000">+7(3452) 000 000</a>
                                        <div class="description">Приемная</div>
                                    </div>
                                    <div class="contact">
                                        <a href="mailto:info@vershina-komforta.ru">info@vershina-komforta.ru</a>
                                        <div class="description">По общим вопросам</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="tabs-panel" id="support">
                        3
                    </div>
                    <div class="tabs-panel" id="control_panel">
                        4
                    </div>-->

                    <!-- begin baron -->
                    <div class="baron">
                        <div class="baron-track">
                            <div class="baron-free">
                                <div class="baron-bar"></div>
                            </div>
                        </div>
                    </div>
                    <!-- end baron -->

                </div>

            </div>
        </div>
    </section>
</main>
@@include('./templates/footer.html')