.baron{
    &-track {
        position: absolute;
        z-index: 3;
        top: 0;
        bottom: 0;
        right: 0;
        width: 4px;
        box-sizing: border-box;
        border-radius: 7px;
        display: block;
        background: rgba(#000, .3);
        margin-top: rem-calc(20);
        height: calc(100% - 40px);
    }
    &-bar {
        position: absolute;
        z-index: 1;
        width: 4px;
        box-sizing: border-box;
        border-radius: 6px;
        background: #ccc;
        right: 0;
        opacity: 1;
        pointer-events: auto;
        display: block;
    }
    &-free {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
    }
}