.application__form{
	color: #fff;
	padding: 40px 33px;
	line-height: 1.8em;
	
	&__title{
		font-size: 1.5em;
		margin-bottom: 30px;
	}
	&__item{
		input {
			padding: 24px 20px;
		}
		select{
			padding: 10px 23px;
			height: 48px;
			color: #cacaca;
		}
		&-textarea textarea{
			border-radius: 5px;
			font-style: italic;
			font-size: 0.8em;
			padding: 15px;
			height: 130px;
		}
		&-button{
			text-align: right;
			button{
				border-radius: 5px;
				border: 1px solid #cacaca;
				padding: 10px;
				background: #fafafa;
				text-align: right;
				&:hover{
					cursor: pointer;
					background: #cacaca;
				}
			}
		}
		&-three{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: space-between;
			margin-bottom: 30px;
			select{
				display: inline-block;
				width: 31%;
			}
			input{
				width: 31%;
				display: inline-block;
			}
		}
		&-invalid{
			border: 2px solid red!important;
		}
	}
}
.application__form__item input,
.application__form__item select{
	border-radius: 5px;
	font-style: italic;
	font-size: 0.85em;
	margin-bottom: 0.9em;
	border-color: #fff;
}